myenv/
env/
venv/

*.pyc
*.pyo
*.pyd
__pycache__/

*/migrations/

*.sqlite3
*.db
.vscode/


*.env
.env/

db.sqlite3
*.log
*.pot
*.mo

*.log
*.pid
*.coveragerc
*.tox
*.nox
*.coverage
*.hypothesis

__init__.py